body {
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: auto;
    padding-top: 50px;
    text-align: center;
}

textarea {
    width: 80%;
    height: 100px;
}

select {
    width: 150px;
    margin: 10px;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
}

#result {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
}

#pronunciation {
    margin-top: 10px;
    font-size: 1.1em;
    font-style: italic;
}
